[Desktop Entry]
Type=Application
Name=Local Reviewer
GenericName=Code reviewer
Comment=Review local Git changes before commit
Exec="@PREFIX@/bin/reviewer"
Icon=reviewer
Terminal=false
Categories=Development;RevisionControl;
Keywords=code;review;diff;git;
